/* CONTENT */
.contenido {
    margin: 10px 0px 10px 0px;
    display: flex;
}

aside {
    background-color: gainsboro;
    text-align: center;
    padding: 10px;
}

aside p:first-child {
    font-weight: bold;
}

content {
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
}

.tarjeta {
    background-color: #f7f7f7;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.tarjeta p:nth-child(2) {
    color: white;
    background: #d7baa1;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
}

.tarjeta p:nth-child(3) {
    column-count: 2;
}

content div {
    width: 48%;
}

content div:last-child {
    width: unset;
}

.margin-bottom {
    margin-bottom: 5px;
}

/* HEADER */
header {
    background-image: url(/img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    animation: header 2s ease-in;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav img {
    width: 80px;
    animation: logo 1.4s ease-in;
}

nav>i:last-child {
    margin-right: 50px;
}

nav i {
    color: gray
}

nav a {
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    font-size: x-large;
    font-weight: bold;
    transform: rotate(10deg);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 5px;
    color: gray;
    text-align: center;
}

h1 {
    font-size: xx-large;
    color: goldenrod;
    background-color: #0000000d;
    padding: 50px;
    opacity: 0.8;
    text-align: center;
}

main {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    margin: auto;
}

.container>div {
    border: 10px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* @MEDIA */
@media (min-width:120px) and (max-width:640px) {

    /* Movil */
    nav img, nav div {
        margin: auto;
    }

    nav {
        flex-direction: column;
    }

    .contenido {
        flex-wrap: wrap;
    }

    aside {
        margin: 10px 0px 0px 0px;
    }

    content, aside, .tarjeta {
        width: 100%;
        flex-direction: column;
    }
}

@media (min-width:641px)and (max-width:1024px) {

    /* Tablet */
    .contenido {
        flex-direction: column;
    }

    content {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width:1025px) {

    /* Desktop */
    content {
        width: 70%;
    }

    aside {
        margin-left: 10px;
        width: 30%;
    }
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #f7f7f7;
    padding: 5px;
    border-left: 8px solid goldenrod;
    border-right: 8px solid goldenrod;
}